[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
	branch = v5.4
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
